<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969290448863-2q3t2p182irdr7u4s4v7jjtadv9gi1qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969290448863-2q3t2p182irdr7u4s4v7jjtadv9gi1qj</string>
	<key>API_KEY</key>
	<string>AIzaSyBgIEIk1Anhku8oTG3lXoW0poU-LvmD12c</string>
	<key>GCM_SENDER_ID</key>
	<string>969290448863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Team13.InteriorDesigner</string>
	<key>PROJECT_ID</key>
	<string>interior-designer-66fac</string>
	<key>STORAGE_BUCKET</key>
	<string>interior-designer-66fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969290448863:ios:68c1ddabd89ed46df14e6a</string>
</dict>
</plist>